body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 60px; /* Adjust this value based on the height of the footer */
}
.cor{
            
    float: left;
            
    }	
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

header h1 {
    margin: 0;
}

.user-container {
    display: flex;
    align-items: center;
}

.user-greeting {
    margin-right: 10px;
}

.logout-link,
.login-link {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.logout-link:hover,
.login-link:hover {
    background-color: #fff;
    color: #333;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-icons {
    display: flex;
    align-items: center;
}

.footer-icons a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.footer-icons i {
    font-size: 18px;
}

.footer-icons a:hover {
    color: #ccc;
}


h1 {
    margin: 20px 0;
    text-align: center;
}

.card {
    margin: 20px;
}


.card {
    margin: 20px;
}





.course-item:hover {
    background-color: #e0e0e0;
}

.course-link {
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course-image {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}

.course-details {

    margin-bottom: 10px;
}

.course-name {
    font-weight: bold;
}

.view-button {
    padding: 8px 16px;
    background-color: #465374;
    color: #fff;
    border: none;
    cursor: pointer;
}

.view-button:hover {
    background-color: #666;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 50px;
}

.dropbtn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 115px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ccc;
}
#submit-btn {
    margin-bottom: 50px;
}

