.container {
    padding: 10px;
    margin-bottom: 50px;
    

}
h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}
p {
    color: #666;
    font-size: 16px;
    margin-bottom: 5px;
}

h3 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

ul {
list-style-type: disc;
margin-left: 20px;
}

li {
color: #666;
font-size: 14px;
margin-bottom: 5px;
}

a {
color: #007bff;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}
.button-container {
margin-top: 10px;
}
.button-container button {
 margin-right: 10px;
}
button {
background-color: #007bff;
color: #fff;
border-radius: 5px;
padding: 4px 8px;
font-size: 14px;
cursor: pointer;
spacing:10px;
}
  
button:hover {
background-color: #0056b3;
  }