		
		.course-list {
			list-style-type: none;
			padding: 0;
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 10px;
			margin-top: 20px;
		}
		
		.course-item {
			padding: 10px;
			background-color: #f5f5f5;
			text-align: center;
			border-radius: 5px;
		}
		.course-item h4{
			margin-right: 10px;
		}
		.card {
			margin: 0 auto;
			max-width: 800px;
			background-color: #fff;
			padding: 20px;
		}