body {
    font-family: Arial, sans-serif;
}

.name h1 {
    color:green;
    text-transform:uppercase;
    margin:10px;
    text-align:center;
    font-size:40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    color:rgba(115, 18, 29, 0.927);
    font-style:italic;
    font-weight:bold;
    font-size:30px;
    
}

p {
    margin-bottom: 10px;
    font-style:italic;
    font-weight:bold;
    font-size:20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.form-group {
    height: auto;
    width: auto;
    background-color: rgb(149, 203, 207);
    font-weight:bold;
    font-size:25px;
    margin:20px;
    border-radius:5px;
    
}
.form-group label {
    margin-left: 5px;
    color: #1d181d;
}

.form-check {
    height:auto;
    width:auto;
    background-color:rgb(149, 203, 207);
    margin:20px;
    font-size:20px;
    border-radius:05px;
    padding:15px;
}
.form-check:hover{
    background-color:lightcoral;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin:10px;
    font-size:20px;
    
}

.btn:hover {
    background-color: #45a049;
}
h3{
    text-align:center;
    color:gray;
}
p{
    color:gray;
}
.container{
    margin-left: 5px;
    margin-bottom: 50px;
    border: none;
   
}
.countdown-timer {
    text-align: center;
    font-size: 24px;
    color: red;
    margin-bottom: 20px;
}

.start-quiz-button-container {
    display: flex;
    justify-content: center;
}

.start-quiz-button {
    margin: 0 10px;
    text-align: center;
}
.start-quiz-button-container {
	display: flex;
	justify-content: center;
	margin-top: 30px;
  }
  
  .start-quiz-button {
	display: inline-block;
	padding: 10px 20px;
	color: #fff;
	background-color: #007bff;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	margin: 0 10px;
  }
  .start-quiz-button a {
	color: inherit;
	text-decoration: none;
  }
  
  .btn-primary {
	display: inline-block;
	padding: 10px 20px;
	color: #fff;
	background-color: #007bff;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	margin-top: 15px;
  }
  
  .btn-primary:hover {
	background-color: #0069d9;
  }