.gradebook-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
    text-align:center;
}
.overall-percentage {
    font-size: 16px;
    margin-bottom: 20px;
    text-align:center;
}
.profile-table {
width: 100%;
border: 1px solid black;
margin-bottom: 30px;

}
.profile-table th, .profile-table td {
padding: 5px;
text-align: center;
border: 1px solid #0b0a0a;
}
.profile-table th {
background-color: gray;
border: 1px solid black;


}
.profile-table tr:hover {
background-color: #e6e6e6;
}