.container {
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
}
h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
    color:#333;
}
form {
    display: flex;
    flex-direction: column;
}
.form-label {
    font-weight: bold;
    margin-bottom: 10px;
    color:navy;
    font-size:20px;
}

.form-control {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-color:navy;
}

.form-control:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
    margin-bottom: 200px;
}

.btn-primary:hover {
    background-color:gray;
}