{% extends 'online_quizz\dashborad_base.html' %}
{% block link %}
  <link rel="stylesheet" href="/static/css/add_course.css" >
{% endblock %}
{% block title %}
  Add course
{% endblock %}
{% block content %}
    {% load static %}
    <h1>Add Course</h1>
    <form method="post">
        {% csrf_token %}
        <label for="course_name">Course Name:</label>
        <input type="text" name="course_name" id="course_name">
        
        <label for="description">Description:</label>
        <textarea name="description" id="description"></textarea>
        
        <label for="total_marks">Total Marks:</label>
        <input type="number" name="total_marks" id="total_marks">

        <label for="total_marks">category:</label>
        <input type="text" name="category" id="category">
        
        <button type="submit">Add Course</button>
    </form>
{% endblock %}



