<!DOCTYPE html>
<html>
	<head>
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="/static/css/base.css" />
		{% block link %}
		{% endblock %}
		<title>
			{% block title %}
			{% endblock %}
		</title>
		{% load static %}
	</head>
	<body>
		<header>
			<h1>Online-Quizz</h1>
			{% if user.is_authenticated %}
				<div class="user-container">
					<div class="dropdown">
						<button onclick="toggleDropdown()" class="dropbtn">{{ user.username }}   <i class="fa-solid fa-user"></i></button>
						<div id="dropdown-content" class="dropdown-content">
							<a href="{% url 'online_quizz:gradebook'%}">Gradebook</a>
							<a href="{% url 'online_quizz:course_list'%}">home</a>
							<a href="{% url 'online_quizz:logout'%}">Logout</a>
						</div>
					</div>
				</div>
			{% else %}
				<div class="user-container">
					<a href="#" class="login-link">Login</a>
				</div>
			{% endif %}
		</header>
				{% block content %}
				{% endblock %}
				<div class="footer">
					<footer>
						<div class="footer-container">
							<p>&copy; 2023 Online-Quizz</p>
							<div class="footer-icons">
								<a href="#"><i class="fab fa-facebook-f"></i></a>
								<a href="#"><i class="fab fa-twitter"></i></a>
								<a href="#"><i class="fab fa-instagram"></i></a>
								<a href="#"><i class="fab fa-linkedin-in"></i></a>
							</div>
						</div>
					</footer>
				</div>
		<script>
			function toggleDropdown() {
				var dropdownContent = document.getElementById("dropdown-content");
				dropdownContent.classList.toggle("show");
			}
			
			window.onclick = function(event) {
				if (!event.target.matches('.dropbtn')) {
					var dropdowns = document.getElementsByClassName("dropdown-content");
					for (var i = 0; i < dropdowns.length; i++) {
						var openDropdown = dropdowns[i];
						if (openDropdown.classList.contains('show')) {
							openDropdown.classList.remove('show');
						}
					}
				}
			}
			
		</script>
		
	</body>
</html>


