<!DOCTYPE html>
   <html lang="en">
   <head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>home</title>
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
       <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
       <link rel="stylesheet" href="/static/css/main.css" >
       
   </head>
   <body>
    {% load static %}
       <div class="all-content">
           <nav class="navbar navbar-expand-md" id="navbar">
               <a class="navbar-brand" href="{% url 'online_quizz:login' %}" id="logo">Online-Quizz</a>        
               <div class="collapse navbar-collapse float:right" id="collapsibleNavbar">
                 <ul class="navbar-nav ml-auto">
                   <li class="nav-item">
                       <a class="nav-link" href="{% url 'online_quizz:login' %}">Login</a>
                     </li>
                   <li class="nav-item">
                     <a class="nav-link" href="{% url 'online_quizz:register_page' %}">Register</a>
                   </li>
                 </ul>
               </div>
               </nav>
             <div class="Home">
               <div class="content">
                   <h2>"Challenge Your"
                       <br>Knowledge:Explore the 
                       <br>Ultimate Quiz Destination"
                   </h2>
                   <a href="{% url 'online_quizz:login' %}" class="btn">Get Started</a>
               </div>
               <div class="img">
                   <img src="{% static 'images/hero.png' %}" alt="" height="500px" width="50%">
               </div>
             </div>
        </div> 
    </body>
</html>