{% extends 'online_quizz/dashborad_base.html' %}
{% block link %}
  <link rel="stylesheet" href="/static/css/teacher_courses.css" >
{% endblock %}
{% block title %}
    Teacher Courses
{% endblock %}
{% block content %}
    <div class="card">
		<h2>Technical Courses</h2>
		<ul class="course-list">
			{% for course in technical_courses %}
				<li class="course-item">
					<h4>{{ course.course_name }}</h4>
					<a href="{% url 'online_quizz:course_details' course.id %}">Details</a>
				</li>
				<br>
			{% empty %}
				<li>No technical courses available.</li>
			{% endfor %}
		</ul>

		<h2>Non-Technical Courses</h2>
		<ul class="course-list">
			{% for course in non_technical_courses %}
				<li class="course-item">
					<h4>{{ course.course_name }}</h4>
					<a href="{% url 'online_quizz:course_details' course.id %}">Details</a>
				</li>
				<br>
			{% empty %}
				<li>No non-technical  courses available.</li>
			{% endfor %}
		</ul>
	</div>
    <ul>
        {% for course in courses %}
        <div class="course">
            <li>{{ course.course_name }} - </li>
        </div>
        {% endfor %}
    </ul>
    <div class="add">
        <a class="btn btn-success" href="{% url 'online_quizz:add_course' %}">Add Course</a>
    </div>
    
{% endblock %}
</body>