{% extends 'online_quizz/dashborad_base.html' %}
{% block link %}
  <link rel="stylesheet" href="/static/css/update_course.css" >
{% endblock %}
{% block title %}
    update course
{% endblock %}
{% block content %}
    {% load static %}
    <h1>Update Course</h1>
    <form method="post">
        {% csrf_token %}
        <label for="course_name">Course Name:</label>
        <input type="text" name="course_name" id="course_name" value="{{ course.course_name }}">
        
        <label for="description">Description:</label>
        <textarea name="description" id="description">{{ course.description }}</textarea>
        
        <label for="total_marks">Total Marks:</label>
        <input type="number" name="total_marks" id="total_marks" value="{{ course.total_marks }}">

        <label for="category">category</label>
        <input type="text" name="category" id="category" value="{{ course.category }}">
        
        <button type="submit">Update Course</button>
    </form>
{% endblock %}
