  <!DOCTYPE html>
  <html>
      <head>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
          <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
          <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
          <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
          <link rel="stylesheet" href="/static/css/dashboard.css" />
          <link rel="stylesheet" href="/static/css/update_question.css" >
          <title>
              update question
          </title>
          
      </head>
      <body>
          <header>
              <h1>Online Quizz</h1>
              {% if user.is_authenticated %}
                  <div class="user-container">
                      <div class="dropdown">
                          <button onclick="toggleDropdown()" class="dropbtn">{{ user.username }}   <i class="fa-solid fa-user"></i></button>
                          <div id="dropdown-content" class="dropdown-content">
                              <a href="{% url 'online_quizz:logout'%}">Logout</a>
                          </div>
                      </div>
                  </div>
              {% else %}
                  <div class="user-container">
                      <a href="#" class="login-link">Login</a>
                  </div>
              {% endif %}
          </header>
          <div class="container">  
                  <div id="wrapper">
                      <!-- Sidebar -->
                      <div id="sidebar-wrapper">
                          <ul class="sidebar-nav" style="margin-left:0;">
                              <li class="sidebar-brand">
                                  
                                  <a href="#menu-toggle"  id="menu-toggle" style="margin-top:20px;float:right;" > <i class="fa fa-bars " style="font-size:20px !Important;" aria-hidden="true" aria-hidden="true"></i> </a>
                              </li>
                              <li>
                                  <a href="{% url 'online_quizz:teacher_dashboard' %}"><i class="fa-solid fa-house-user"></i> <span style="margin-left:10px;">Dashboard</span>  </a>
                              </li>
                              <li>
                                  <a href="{% url 'online_quizz:teacher_courses' %}"> <i class="fa-solid fa-book"></i> <span style="margin-left:10px;"> courses</span> </a>
                              </li>
                              <li>
                                  <a href="{% url 'online_quizz:logout' %}"> <i class="fa-solid fa-right-from-bracket"></i> <span style="margin-left:10px;"> logout</span> </a>
                              </li>
                          </ul>
                      </div>
                      <!-- /#sidebar-wrapper -->
              
                      <!-- Page Content -->
                        
                            <div class="container">
                                <h2>Update Question</h2>
                                {% if messages %}
                            <div class="messages">
                                {% for message in messages %}
                                    <h5 style="color: red;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h5>
                                {% endfor %}
                            </div>
                                {% endif %}
                                <form method="POST" action="{% url 'online_quizz:update_question' course_id=course.id question_id=question.id %}">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label for="question" class="form-label">Question Text:</label>
                                        <input type="text" class="form-control" id="question" name="question" value="{{ question.question }}" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="option1" class="form-label">Option 1:</label>
                                        <input type="text" class="form-control" id="option1" name="option1" value="{{ question.option1 }}" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="option2" class="form-label">Option 2:</label>
                                        <input type="text" class="form-control" id="option2" name="option2" value="{{ question.option2 }}" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="option3" class="form-label">Option 3:</label>
                                        <input type="text" class="form-control" id="option3" name="option3" value="{{ question.option3 }}" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="option4" class="form-label">Option 4:</label>
                                        <input type="text" class="form-control" id="option4" name="option4" value="{{ question.option4 }}" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="answer" class="form-label">Answer:</label>
                                        <input type="text" class="form-control" id="answer" name="answer" value="{{ question.answer }}" required>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Update Question</button>
                                </form>
                            </div>
                  </div>
                                  
                  <script>
                      $("#menu-toggle").click(function(e) {
                          e.preventDefault();
                          $("#wrapper").toggleClass("toggled");
                      });
                  </script>	
              
          </div>
          <!-- <div class="footer">
              <footer>
                  <div class="footer-container">
                      <p>&copy; 2023 Online-Quizz</p>
                      <div class="footer-icons">
                          <a href="#"><i class="fab fa-facebook-f"></i></a>
                          <a href="#"><i class="fab fa-twitter"></i></a>
                          <a href="#"><i class="fab fa-instagram"></i></a>
                          <a href="#"><i class="fab fa-linkedin-in"></i></a>
                      </div>
                  </div>
              </footer>
          </div> -->
          

          <script>
              function toggleDropdown() {
                  var dropdownContent = document.getElementById("dropdown-content");
                  dropdownContent.classList.toggle("show");
              }
              
              window.onclick = function(event) {
                  if (!event.target.matches('.dropbtn')) {
                      var dropdowns = document.getElementsByClassName("dropdown-content");
                      for (var i = 0; i < dropdowns.length; i++) {
                          var openDropdown = dropdowns[i];
                          if (openDropdown.classList.contains('show')) {
                              openDropdown.classList.remove('show');
                          }
                      }
                  }
              }
              
          </script>
          
      </body>
  </html>




